<template>
    <v-app>
        <v-content>
            <po-navigation-bar></po-navigation-bar>
            <po-notification-stack></po-notification-stack>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    import common from './common-utils'
    import PoNavigationBar from "@/components/layout/po-navigation-bar";
    import PoNotificationStack from "@/components/layout/po-notification-stack";
    export default {
        name: 'App',
        components: {PoNotificationStack, PoNavigationBar},
        data() {
            return {

            }
        },
        methods: {

        },
    }
</script>
