<template>
    <v-container>
        <h1>Adient</h1>
        <v-expansion-panels v-model="panel">
            <v-expansion-panel>
                <v-expansion-panel-header>Guarantee</v-expansion-panel-header>
                <v-expansion-panel-content>
                    <po-guarantee></po-guarantee>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
                <v-expansion-panel-header>Guarantee Profile</v-expansion-panel-header>
                <v-expansion-panel-content>
                    <po-guarantee-profile></po-guarantee-profile>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script>
    import PoGuarantee from "../components/vendor/po-guarantee";
    import PoGuaranteeProfile from "../components/vendor/po-guarantee-profile";
    export default {
        name: "Guarantee",
        data: () => ({
            panel: null
        }),
        components: {PoGuaranteeProfile, PoGuarantee},
        mounted() {
            let self = this;
            this.$root.$on('guaranteeSelected', (data) => {
                self.panel = 1;

                // HACK TO GET EVENT TO FIRE, NOT WORTH FIGURING OUT RIGHT NOW
                setTimeout(function() {
                    self.$root.$emit('openGuaranteeProfile', data);
                }, 0)
            })
        }
    }
</script>

<style scoped>

</style>
